<h1>Articles</h1>

<%= raw @html_content %>

<% @links.each_with_index do |link, i| %>
  <a href=<%= link[:href] %> data-method=<%= link[:action]%>><%= link[:name]%></a> <%= '|' if i == @links.size-1%>
<% end %>